@media all and (min-width: 768px) and (max-width: 1024px) {
    /*### headerWrap ###*/
    #headerWrap {
        height: 150px;
    }
    #header {
        width: 710px;
        height: 50px;
        padding: 50px 20px;
        margin: 0 auto;
    }

    #navArea {
        width: 240px;
    }
    #navArea .gnb {
        display: none;
    }

    #logoArea {
        width: 200px;
        padding: 0;
    }

    #infoMenu {
        width: 30px;
        margin-left: 235px;
    }
    #infoMenu .servicesArea {
        display: none;
    }
    #infoMenu .iconArea {
        width: 100%;
    }
    #infoMenu .iconArea li {
        margin-right: 0;
    }
    #infoMenu .iconArea .login {
        display: none;
    }

    .watch_list {
        display: none;
    }

    /*### container ###*/
    #container h3 {
        font-size: 50px;
    }

    /*visual*/
    #visual {
        height: 530px;
        background-size: 1024px;
    }
    #visual .textBx {
        width: 320px;
        height: 230px;
        font-size: 45px;
        position: absolute;
        left: 50px;
        top: 250px;
        font-size: 15px;
    }
    #visual .textBx .title {
        font-size: 45px;
        padding: 10px 0;
        line-height: 40px;
    }
    #visual .textBx .more {
        margin-top: 20px;
    }

    /*lastestArea*/
    #latest_inn {
        height: 900px;
        padding: 50px 0;
    }

    #latest_inn h3 {
        width: 700px;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    #latest_inn .slideArea {
        width: 740px;
        margin: 0 auto;
    }
    #latest_inn .slideArea ul {
        width: 3000px;
        margin-left: 0;
    }
    #latest_inn .slideArea li {
        width: 370px;
        margin-left: 5px;
    }

    /*img 영역*/
    #latest_inn .slideArea li .img {
        height: 495px;
    }

    /*textBx 영역*/
    #latest_inn .slideArea li .textBx h4 {
        line-height: 30px;
    }
    #latest_inn .slideArea li .textBx .text {
        width: 375px;
        padding-right: 0;
    }

    /*btn 영역*/
    #latest_inn .slideArea .btnArea p {
        width: 39px;
        height: 39px;
        line-height: 40px;
        text-align: center;
        font-size: 30px;
        border: 1px solid #fff;
        border-radius: 20px;
        position: absolute;
        top: 250px;
        cursor: pointer;
    }

    /*artArea*/
    #artArea {
        width: 100%;
        height: 500px;
    }
    #art_inn {
        width: 650px;
        height: 400px;
        padding: 50px;
        margin: 0 auto;
    }

    #art_inn .textArea {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }
    #art_inn .textArea h3 {
        font-size: 40px;
        font-weight: 400;
    }
    #art_inn .textArea .text {
        padding: 30px 0;
    }

    #art_inn .imgArea {
        width: 550px;
        padding-top: 30px;
        border-radius: 20px;
    }
    #art_inn:hover .imgArea {
        box-shadow: none;
    }

    /*musicArea*/
    #musicArea {
        width: 100%;
        height: 400px;
    }
    #music_inn {
        width: 650px;
        height: 300px;
        padding: 50px;
        margin: 0 auto;
    }

    #music_inn .imgArea {
        width: 550px;
        height: 360px;
    }

    #music_inn .textArea {
        width: 100%;
        height: 230px;
        margin: 0;
        margin-left: 20px;
    }
    #music_inn .textArea h3 {
        font-size: 35px;
        padding-top: 20px;
    }
    #music_inn:hover .textArea h3 {
        text-shadow: none;
    }
    #music_inn .textArea .text {
        padding: 20px 0;
    }

    /*atelierArea*/
    #atelierArea {
        width: 100%;
        height: 500px;
    }
    #atelier_inn {
        width: 550px;
        height: 400px;
        padding: 50px;
        margin: 0 auto;
    }

    #atelier_inn .textArea {
        width: 100%;
        margin-right: 0;
        margin-top: 15px;
    }
    #atelier_inn .textArea h3 {
        font-size: 40px;
    }
    #atelier_inn .textArea .text {
        padding: 30px 0;
    }

    #atelier_inn .imgArea {
        width: 550px;
        margin-left: 0;
        height: 365px;
        margin-top: 40px;
        border-radius: 10px;
        overflow: hidden;

        animation: none;
    }

    /*collectionArea*/
    #collectionArea {
        width: 100%;
        height: 850px;
    }
    #collect_inn {
        width: 100%;
        height: 750px;
        padding: 50px 0;
    }

    #collect_inn h3 {
        width: 700px;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    #collect_inn .slideArea {
        width: 740px;
        height: 550px;
        margin-left: 0;
        margin: 0 auto;
    }
    #collect_inn .slideArea ul {
        width: 3000px;
    }
    #collect_inn .slideArea li {
        width: 370px;
        margin-left: 5px;
    }

    #collect_inn .slideArea .btnArea p {
        width: 39px;
        height: 39px;
        line-height: 40px;
        text-align: center;
        font-size: 30px;
        border: 1px solid #fff;
        border-radius: 20px;
        position: absolute;
        top: 250px;
        cursor: pointer;
    }

    /*craftArea*/
    #craftArea {
        width: 100%;
        height: 900px;
    }
    #craft_inn {
        width: 100%;
        height: 800px;
        padding: 50px 0;
    }

    #craft_inn h3 {
        width: 700px;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    #craft_inn ul {
        width: 750px;
        height: 570px;
        margin-left: 0;
        position: static;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
    }
    #craft_inn li {
        width: 240px;
        margin: 0 5px;
        box-shadow: none;
        position: static;
    }
    #craft_inn .brassus,
    #craft_inn .savoir_faire,
    #craft_inn .art,
    #craft_inn .music,
    #craft_inn .golf {
        animation: none;
    }

    #craft_inn li .textBx {
        width: 220px;
        padding: 0 10px;
    }

    /*boutiqueArea*/
    #boutiqueArea {
        width: 100%;
        height: 450px;
    }
    #boutique_inn {
        width: 550px;
        height: 350px;
        padding: 100px;
        margin: 0 auto;
    }

    #boutique_inn .title {
        width: 100%;
        padding-left: 0;
        padding-bottom: 30px;
    }
    #boutique_inn .title h3 {
        font-size: 50px;
        padding: 30px 0;
    }

    #boutique_inn .img {
        width: 550px;
        margin-left: 0;
    }

    /*newsArea*/
    #newsArea {
        width: 100%;
        height: 300px;
    }
    #news_inn {
        width: 700px;
        height: 200px;
        padding: 50px 0;
        margin: 0 auto;
    }

    #news_inn h3 {
        width: 100%;
        font-size: 40px;
        padding-bottom: 30px;
    }
    #news_inn .text {
        width: 350px;
        padding-top: 0;
    }
    #news_inn .btn {
        width: 400px;
    }
    #news_inn .btn a {
        width: 200px;
        margin-left: 100px;
        margin-top: 0;
    }

    /*### footerWrap ###*/
    #footerWrap {
        height: 600px;
    }
    #footer {
        width: 700px;
        height: 500px;
        padding: 50px 25px;
        margin: 0 auto;
    }

    #footer .footer_top {
        height: 300px;
    }

    #footer .footer_top .lang {
        height: 100px;
    }

    #footer .footer_top .footerNav {
        width: 100%;
        height: 270px;
    }
    #footer .footer_top .footerNav dl {
        width: 175px;
    }
    #footer .footer_top .footerNav dd {
        font-size: 14px;
    }

    #footer .footer_bottom {
        height: 80px;
        padding: 35px 0;
    }
    #footer .footer_bottom .iconArea {
        height: 30px;
        padding-bottom: 30px;
    }

    #footer .footer_bottom .legalArea {
        width: 500px;
        height: 50px;
    }
    #footer .footer_bottom .legalArea li {
        padding-right: 20px;
    }

    #footer .footer_bottom .copyArea {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
}
